---
import {Albums} from "./albums";
---

<div id="albumList" class="w-full grid grid-cols-3 md:grid-cols-4 gap-6">
    {Astro.props.album.map((album: Albums) => (
            <button hx-target="#albumList" hx-swap="transition" hx-get={`/partials/albumCard?albumId=${album.id}`} class="m-4 flex flex-col bg-white rounded-lg shadow-lg">
                <div class="items-center">
                <img class="w-full h-32 mb-4 rounded-t-lg" src={album.cover} alt="album cover"/>
                <h2 class="text-lg font-bold mb-2 text-center">{album.albumName}</h2>
                </div>
                <div class="p-4">
                <p class="text-gray-600">{album.artist}</p>
                <p class="text-gray-600">{album.year}</p>
                </div>
            </button>
    ))}
</div>
