---
type Props = {
    id: string
    name: string
    artist: string
    image_url: string
}

const { id, albumName, artist, cover } = Astro.props.album
---

<div class="flex flex-col">
    <a href={`/album/${id}`} class="text-black hover:text-pink-700 focus-visible:ring-2 focus:outline-none focus:ring-black">
        <div
                class="shadow-md hover:shadow-lg relative"
                name={`record-${id}`}
                transition:name={`record-${id}`}
        >
            <img
                    class="card-image rounded-md relative z-10"
                    src={cover}
                    alt={`${artist} - ${albumName} album cover`}
                    aria-hidden="true"
                    width="400"
                    height="400"
            />
            <img
                    src="/vynil-lp.webp"
                    alt=""
                    width="400"
                    height="400"
                    name={`vinyl-${id}`}
                    class="absolute top-0 opacity-0 vynil-image opacity-0"
                    aria-hidden="true"
                    transition:name={`vinyl-${id}`}
            />
        </div>
        <div class="pt-4 font-semibold">{albumName}</div><span class="sr-only"> by</span>
        <div class="pt-1 text-gray-700">{artist}</div>
    </a>
</div>